In [1]:
import csv
import pandas as pd
from sqlalchemy import create_engine

In [2]:
income1 = pd.read_csv('https://usc.data.socrata.com/api/views/kygc-fzgm/rows.csv?accessType=DOWNLOAD')
income1.head()

,Policy Area,Dataset,Variable,Year,Amount,Tract,Tract Number,Neighborhood,GEOID,Location,Row ID,Date
0,Employment & Income,Income,Median Household Income,2013,74971.0,"Census Tract 4321.01, Los Angeles County, Cali...",432101,Temple City,1400000US06037432101,"(34.095852, -118.0428825)",Median_Household_Income_2013_1400000US06037432101,01/01/2013
1,Employment & Income,Income,Median Household Income,2013,30759.0,"Census Tract 2422, Los Angeles County, California",242200,Watts,1400000US06037242200,"(33.948204, -118.238625)",Median_Household_Income_2013_1400000US06037242200,01/01/2013
2,Employment & Income,Income,Median Household Income,2011,57219.0,"Census Tract 2719.02, Los Angeles County, Cali...",271902,Mar Vista,1400000US06037271902,"(34.009731, -118.4316705)",Median_Household_Income_2011_1400000US06037271902,01/01/2011
3,Employment & Income,Income,Median Household Income,2013,81700.0,"Census Tract 4313, Los Angeles County, California",431300,Mayflower Village,1400000US06037431300,"(34.1248395, -118.007363)",Median_Household_Income_2013_1400000US06037431300,01/01/2013
4,Employment & Income,Income,Median Household Income,2011,101783.0,"Census Tract 4805, Los Angeles County, California",480500,South Pasadena,1400000US06037480500,"(34.1074225, -118.14498)",Median_Household_Income_2011_1400000US06037480500,01/01/2011

### Extract CSVs into DataFrames

In [3]:
income = income1[["Year", "Amount", "Tract Number", "Neighborhood"]].copy()
income.head()

                  Variable  Year    Amount  Tract Number       Neighborhood
0  Median Household Income  2013   74971.0        432101        Temple City
1  Median Household Income  2013   30759.0        242200              Watts
2  Median Household Income  2011   57219.0        271902          Mar Vista
3  Median Household Income  2013   81700.0        431300  Mayflower Village
4  Median Household Income  2011  101783.0        480500     South Pasadena

In [4]:
income.index.names = ['id']
income

,Variable,Year,Amount,Tract Number,Neighborhood
id,,,,,
0,Median Household Income,2013,74971.0,432101,Temple City
1,Median Household Income,2013,30759.0,242200,Watts
2,Median Household Income,2011,57219.0,271902,Mar Vista
3,Median Household Income,2013,81700.0,431300,Mayflower Village
4,Median Household Income,2011,101783.0,480500,South Pasadena
5,Median Household Income,2013,67816.0,700902,Beverly Hills
6,Median Household Income,2010,28510.0,910403,Palmdale
7,Median Household Income,2013,NaN,980020,Shadow Hills
8,Median Household Income,2012,64025.0,269906,Palms
9,Median Household Income,2010,NaN,901003,Lancaster
10,Median Household Income,2014,53516.0,201501,El Sereno
11,Median Household Income,2010,120515.0,800324,Agoura Hills
12,Median Household Income,2013,77377.0,264103,Brentwood
13,Median Household Income,2011,48365.0,500500,Pico Rivera
14,Median Household Income,2013,40401.0,570601,Long Beach
15,Median Household Income,2014,47633.0,570601,Long Beach
16,Median Household Income,2014,63500.0,402705,Pomona
17,Median Household Income,2011,213347.0,262100,Beverly Crest
18,Median Household Income,2010,45330.0,542105,Compton
19,Median Household Income,2013,79235.0,482600,Monterey Park
20,Median Household Income,2010,64861.0,272301,Mar Vista
21,Median Household Income,2015,73417.0,278001,Westchester
22,Median Household Income,2013,47935.0,500600,Pico Rivera
23,Median Household Income,2010,34500.0,500402,Pico Rivera
24,Median Household Income,2014,37398.0,533002,Huntington Park
25,Median Household Income,2016,28375.0,209510,Westlake
26,Median Household Income,2016,71806.0,603500,Gardena
27,Median Household Income,2016,95080.0,702102,Santa Monica
28,Median Household Income,2014,20972.0,572500,Long Beach
29,Median Household Income,2013,98625.0,143902,Sherman Oaks
...,...,...,...,...,...
16370,Median Household Income,2016,126406.0,111204,Porter Ranch
16371,Median Household Income,2010,47179.0,217200,Mid-Wilshire
16372,Median Household Income,2012,78232.0,602700,Hawthorne
16373,Median Household Income,2010,41759.0,201401,El Sereno
16374,Median Household Income,2013,47284.0,920038,Santa Clarita
16375,Median Household Income,2010,83000.0,131100,Lake Balboa
16376,Median Household Income,2011,37840.0,127210,Van Nuys
16377,Median Household Income,2011,NaN,980013,El Segundo
16378,Median Household Income,2016,40278.0,542105,Compton
16379,Median Household Income,2010,21167.0,224200,Pico-Union
16380,Median Household Income,2011,60385.0,910001,Palmdale
16381,Median Household Income,2016,68750.0,406000,Covina
16382,Median Household Income,2016,78210.0,554514,Cerritos
16383,Median Household Income,2013,68793.0,554700,Norwalk
16384,Median Household Income,2015,102500.0,571800,Long Beach
16385,Median Household Income,2012,91711.0,920012,Castaic Canyons
16386,Median Household Income,2015,77958.0,296401,San Pedro
16387,Median Household Income,2015,56898.0,532102,Montebello
16388,Median Household Income,2016,29564.0,190402,Los Feliz
16389,Median Household Income,2012,28735.0,600202,Westmont
16390,Median Household Income,2016,51875.0,600911,Inglewood
16391,Median Household Income,2014,39789.0,551101,Downey
16392,Median Household Income,2010,35167.0,222100,Adams-Normandie
16393,Median Household Income,2013,36398.0,120400,Panorama City
16394,Median Household Income,2015,94821.0,403702,Covina
16395,Median Household Income,2016,25517.0,224200,Pico-Union
16396,Median Household Income,2010,107000.0,920039,Santa Clarita
16397,Median Household Income,2014,61496.0,404903,Baldwin Park
16398,Median Household Income,2013,103922.0,800329,Unincorporated Santa Monica Mountains
16399,Median Household Income,2012,27396.0,535603,South Gate

In [5]:
income.index = income.index + 1
income

,Variable,Year,Amount,Tract Number,Neighborhood
id,,,,,
1,Median Household Income,2013,74971.0,432101,Temple City
2,Median Household Income,2013,30759.0,242200,Watts
3,Median Household Income,2011,57219.0,271902,Mar Vista
4,Median Household Income,2013,81700.0,431300,Mayflower Village
5,Median Household Income,2011,101783.0,480500,South Pasadena
6,Median Household Income,2013,67816.0,700902,Beverly Hills
7,Median Household Income,2010,28510.0,910403,Palmdale
8,Median Household Income,2013,NaN,980020,Shadow Hills
9,Median Household Income,2012,64025.0,269906,Palms
10,Median Household Income,2010,NaN,901003,Lancaster
11,Median Household Income,2014,53516.0,201501,El Sereno
12,Median Household Income,2010,120515.0,800324,Agoura Hills
13,Median Household Income,2013,77377.0,264103,Brentwood
14,Median Household Income,2011,48365.0,500500,Pico Rivera
15,Median Household Income,2013,40401.0,570601,Long Beach
16,Median Household Income,2014,47633.0,570601,Long Beach
17,Median Household Income,2014,63500.0,402705,Pomona
18,Median Household Income,2011,213347.0,262100,Beverly Crest
19,Median Household Income,2010,45330.0,542105,Compton
20,Median Household Income,2013,79235.0,482600,Monterey Park
21,Median Household Income,2010,64861.0,272301,Mar Vista
22,Median Household Income,2015,73417.0,278001,Westchester
23,Median Household Income,2013,47935.0,500600,Pico Rivera
24,Median Household Income,2010,34500.0,500402,Pico Rivera
25,Median Household Income,2014,37398.0,533002,Huntington Park
26,Median Household Income,2016,28375.0,209510,Westlake
27,Median Household Income,2016,71806.0,603500,Gardena
28,Median Household Income,2016,95080.0,702102,Santa Monica
29,Median Household Income,2014,20972.0,572500,Long Beach
30,Median Household Income,2013,98625.0,143902,Sherman Oaks
...,...,...,...,...,...
16371,Median Household Income,2016,126406.0,111204,Porter Ranch
16372,Median Household Income,2010,47179.0,217200,Mid-Wilshire
16373,Median Household Income,2012,78232.0,602700,Hawthorne
16374,Median Household Income,2010,41759.0,201401,El Sereno
16375,Median Household Income,2013,47284.0,920038,Santa Clarita
16376,Median Household Income,2010,83000.0,131100,Lake Balboa
16377,Median Household Income,2011,37840.0,127210,Van Nuys
16378,Median Household Income,2011,NaN,980013,El Segundo
16379,Median Household Income,2016,40278.0,542105,Compton
16380,Median Household Income,2010,21167.0,224200,Pico-Union
16381,Median Household Income,2011,60385.0,910001,Palmdale
16382,Median Household Income,2016,68750.0,406000,Covina
16383,Median Household Income,2016,78210.0,554514,Cerritos
16384,Median Household Income,2013,68793.0,554700,Norwalk
16385,Median Household Income,2015,102500.0,571800,Long Beach
16386,Median Household Income,2012,91711.0,920012,Castaic Canyons
16387,Median Household Income,2015,77958.0,296401,San Pedro
16388,Median Household Income,2015,56898.0,532102,Montebello
16389,Median Household Income,2016,29564.0,190402,Los Feliz
16390,Median Household Income,2012,28735.0,600202,Westmont
16391,Median Household Income,2016,51875.0,600911,Inglewood
16392,Median Household Income,2014,39789.0,551101,Downey
16393,Median Household Income,2010,35167.0,222100,Adams-Normandie
16394,Median Household Income,2013,36398.0,120400,Panorama City
16395,Median Household Income,2015,94821.0,403702,Covina
16396,Median Household Income,2016,25517.0,224200,Pico-Union
16397,Median Household Income,2010,107000.0,920039,Santa Clarita
16398,Median Household Income,2014,61496.0,404903,Baldwin Park
16399,Median Household Income,2013,103922.0,800329,Unincorporated Santa Monica Mountains
16400,Median Household Income,2012,27396.0,535603,South Gate

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

In [6]:
connection_string = "root:root@localhost/neighborhoods"
engine = create_engine(f'mysql+pymysql://{connection_string}')

In [7]:
# Confirm tables that are created in the database 
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: http://sqlalche.me/e/e3q8)

### Load DataFrames into database

In [ ]:
#Use pandas to load csv converted DataFrame into database
new_income_data_df.to_sql(name='median_household_income', con=engine, if_exists='append', index=False)

In [ ]:
#Confirm data has been added by querying the median_household_income table
pd.read_sql_query('select * from median_household_income', con=engine).head()